.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	button{
		margin-left: 10px;
	}
	@media screen and (max-width: 768px) {
		width: 90%;
		button{
			float: right;
			width: 100px;
		}
		margin: 10px;
	}
}